asgiref==3.10.0
black==25.9.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
coverage==7.12.0
crispy-bootstrap5==2024.2
cryptography==46.0.4
diagrams==0.24.4
distlib==0.4.0
Django==6.0.2
django-allauth==65.14.1
django-crispy-forms==2.2
django-googler==0.0.20
django-ratelimit==4.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.20.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
graphviz==0.20.3
identify==2.6.15
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.4.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
PyJWT==2.11.0
pytest==9.0.1
pytest-cov==7.0.0
pytest-django==4.11.1
python-dotenv==1.2.1
pytokens==0.2.0
PyYAML==6.0.3
qrcode==8.2
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.6.3
virtualenv==20.35.4
gunicorn==23.0.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.11
cloudinary==1.42.2
django-cloudinary-storage==0.3.0
